<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload and download to database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h3>Upload and download to database</h3>
    
    <!-- <form action="uploadimage" th:action="@{/uploadimage}" method="post" th:object="${location}" enctype="multipart/form-data"> -->
    <form action="uploadimage" method="post" enctype="multipart/form-data">
    	<fieldset>
		    Location name:<br/>
<!-- 		    <input type="text" th:field="*{name}" /> -->
		    <input type="text" field="name" />
		    <p/>Select a file to upload
		    <br/>
		    <input type="file" name="image" accept=".png,.jpg,.gif,.bmp"/>
<!-- 		    <div th:if="${upload} == null" th:text="'Upload not succeeded'"></div> -->
		    <p/>
		    <input type="submit" value="Submit" />
	   	</fieldset>
 	</form>

</body>
</html>